<footer class="bg-white text-dark py-4 position-relative">
  <div class="footer-bg-image position-absolute bottom-0 start-50 translate-middle-x"></div>
  <div class="container position-relative">
    <div class="row g-3 mb-3">
      <!-- First Column (Logo & Hours) - Now properly centered on mobile -->
      <div class="col-md-6 col-lg-3">
        <div class="d-flex flex-column align-items-center align-items-md-start">
          <img src="/images/icon/icon.jpg" alt="Restaurant Logo" class="mb-2 mx-auto mx-md-0" style="max-height: 50px;">
          <p class="mb-3 small text-center text-md-start">Aenean luctus nulla sit amet nibh ultricies, sit amet gravida libero venenatis. Nunc eu consectetur nisl.</p>
          
          <div class="opening-hours bg-white p-2 w-100">
            <h4 class="mb-2 fs-5 text-center text-md-start">Opening Hours</h4>
            <div class="row g-1 justify-content-center justify-content-md-start">
              <div class="col-12 col-sm-4 col-md-12 col-lg-4 mb-2 mb-lg-0 text-center text-md-start">
                <p class="mb-1 small"><strong>Monday-Friday</strong></p>
                <p class="small">9:00 AM - 10:00 PM</p>
              </div>
              <div class="col-12 col-sm-4 col-md-12 col-lg-4 mb-2 mb-lg-0 text-center text-md-start">
                <p class="mb-1 small"><strong>Saturday</strong></p>
                <p class="small">10:00 AM - 11:00 PM</p>
              </div>
              <div class="col-12 col-sm-4 col-md-12 col-lg-4 text-center text-md-start">
                <p class="mb-1 small"><strong>Sunday</strong></p>
                <p class="small">Closed</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Navigation Column -->
      <div class="col-md-6 col-lg-3 pt-md-4">
        <h5 class="mb-2 fs-6 text-center text-md-start">Navigation</h5>
        <ul class="list-unstyled text-center text-md-start">
          <li class="mb-1"><a href="#" class="text-dark text-decoration-none footer-link small">Menu</a></li>
          <li class="mb-1"><a href="#" class="text-dark text-decoration-none footer-link small">About us</a></li>
          <li class="mb-1"><a href="#" class="text-dark text-decoration-none footer-link small">Contact us</a></li>
          <li class="mb-1"><a href="#" class="text-dark text-decoration-none footer-link small">Main Dishes</a></li>
        </ul>
      </div>
      
      <!-- Dishes Column -->
      <div class="col-md-6 col-lg-3 pt-md-4">
        <h5 class="mb-2 fs-6 text-center text-md-start">Dishes</h5>
        <ul class="list-unstyled text-center text-md-start">
          <li class="mb-1"><a href="#" class="text-dark text-decoration-none footer-link small">Fish & Veggie</a></li>
          <li class="mb-1"><a href="#" class="text-dark text-decoration-none footer-link small">Tofu Chili</a></li>
          <li class="mb-1"><a href="#" class="text-dark text-decoration-none footer-link small">Egg & Cucumber</a></li>
          <li class="mb-1"><a href="#" class="text-dark text-decoration-none footer-link small">Lumpia w/ Sauce</a></li>
        </ul>
      </div>
      
      <!-- Follow Us Column -->
      <div class="col-md-6 col-lg-3 pt-md-4">
        <div class="d-flex flex-column align-items-center align-items-md-start">
          <h5 class="mb-2 fs-6">Follow Us</h5>
          <div class="d-flex justify-content-center gap-3 mb-3">
            <a href="#" class="text-dark"><i class="fab fa-facebook-f small"></i></a>
            <a href="#" class="text-dark"><i class="fab fa-twitter small"></i></a>
            <a href="#" class="text-dark"><i class="fab fa-instagram small"></i></a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Copyright Row -->
    <div class="row pt-3 border-top border-secondary">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-0 small">&copy; 2022 Restaurant. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <a href="#" class="text-dark text-decoration-none me-3 small">Terms of Service</a>
        <a href="#" class="text-dark text-decoration-none small">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>