@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Inter:wght@300;400;500;600&display=swap');

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #333; /* Default text color */
    
    
}

*{
outline: none;

}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'David Libre', serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #212529;
}
h1, .h1 { font-size: 2.5rem; }
h2, .h2 { font-size: 2rem; }
h3, .h3 { font-size: 1.75rem; }
h4, .h4 { font-size: 1.5rem; }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; }


p {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  margin-bottom: 1.25rem;
  color: #495057; 
}

.font-david-libre {
  font-family: 'David Libre', serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}